{% extends 'base_user.html.twig' %}

{% block body %}
    <div class="banner">
        <h1>Cultes</h1>
    </div>
    <br/>

    {% if is_granted("ROLE_ADMIN") %}
    <div class="container center text-center">
        <a class="btn btn-primary btn-lg" href="{{ path('app_culte_new') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un culte</a>
    </div>
    
    <br/>
    {% endif %}
    
    <ul class="list-group">{% for culte in cultes %}
    <li class="list-group-item col-md-4">
            <div class="card text-center" role="button" @click="handleClick()">
                    <div class="card-body">
                    <h4 class="card-title">{% if culte.date %}{{ culte.date|date('l d F') }}{% endif %}</h4>
                    <p class="card-text">
                    <div>
                        {% if culte.preacher %}Prédication : <b>{{ culte.preacher }}</b><br/>{% endif %}
                        Louange : <b>Sabrina Etienne et son équipe</b><br/>
                        Présidence : <b>Reynald Pasche</b>
                    </div></p>
                    <a href="{{ path('app_culte_show', { 'id': culte.id }) }}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </li>
    {% endfor %}</ul>
{% endblock %}
