{% extends 'base_user.html.twig' %}

{% block body %}
    <div class="banner">
        <h1>Nouveau culte</h1>
    </div>
    <br/>

    <div class="text-center">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br/>
        <input type="submit" class="btn btn-primary" value="Create" />
    {{ form_end(form) }}
    </div>
{% endblock %}
