<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}Fratapp</title>
        {% block stylesheets %}{% endblock %}

        <!-- Default CSS Bootstrap (Paper): http://getbootstrap.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">

        <!-- For quick and easy CSS -->
        <style type="text/css">
        .copyright {
            color: #888;
            text-align: center;
            font-size: 0.8em;
        }
        </style>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper"><div class="container">
        {% block body %}{% endblock %}
        </div>
        <br/><br/>
        <div class="copyright">Frat'app version 0.1.8 - © Nathan Köbe 2017</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
