{% extends 'base_user.html.twig' %}

{% block title %} Error 404 - {% endblock %}
{% block body %}
	<div class="banner">
		<h1>Error 404</h1>
		<p>This page does not exist anymore, go back <a href="/">Home</a> ! </p>
	</div>
	<br/>

<style>
	div.banner {
		background: #937e3b;
		color: white;
		width: 100%;
		text-align: center;
		max-height: 250px;
		padding: 1px;
	}
	div.banner h1 {
		color: white;
		font-weight: 700;
		font-size: 3em;
		text-transform: uppercase;
	}
{% endblock %}
	
