{% extends 'base.html.twig' %}

{% block title %}Accueil - {% endblock %}
{% block body %}
            <div id="page-title">
                <h1><span>user to</span> Fratapp</h1>
            </div>
{% endblock %}
